.bike{
    margin:15px;
}

.btnst{
    width: 100px;
    margin-left: 5px;
    margin-left: 5px;
}

.bike-head{
    margin:10px;
}

.bike-conten{
    margin-top: 15px;
}

.btn-upload{
    margin-left: 5px;
    margin-left: 5px;
}