.dropdown-menu{
    position: fixed;
    right: 0;
    width: 200px;
}
.img-profile{
    width:30px;
    border-radius: 50%;
}

.btn-menu{
    margin-left: 5px;
    margin-right: 5px;
    border: solid 1px gray;
}